<h1>Please <a href="/login">log in</a> to your account or <a href="/signup">sign up</a> if you don't have one</h1>

<h2>There are currently <%= Recipe.all.count %> recipes available and <%= User.all.where(role: "regular").count %> users</h2>

