<div class="card width_90 title_card border-primary">
	<h2>Sign up for an account!</h2>
</div>

<div class="card width_90 border-primary">
	<%= form_for @user, url: signup_create_path do |form| %>
		<%= render partial: "users/form", object: form %>
	<% end %>
</div>