
<div id="home">
  <div class="card width_90 title_card border-primary">
    <h2>Advance Searching</h2>

    <div id="search-div">
      <%= form_tag advance_searching_path, id: "recipe-search", remote: true do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= label_tag "search" %>
        <%= text_field_tag "name", nil, list: "list", placeholder: 'Enter search term...' %>
        <!-- <select id="list" onchange="if (this.value) window.location.href=this.value">
        	<option>Select Here...</option>
        </select> -->
      <% end %>
    </div>
  </div>

  <div id="search-result">
    
  </div>
</div>
