/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */

body {
  background: repeating-linear-gradient(
	45deg,
	#606dbc,
	#606dbc 10px,
	#465298 10px,
	#465298 20px
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pages {
	background: white;
	width: 45%;
	margin: auto;
	margin-top: 10px;
}

.width_90 {
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
}

.width_full {
	margin-bottom: 10px;
	padding: 10px;
}

.title_card {
	text-align: center
}

a.custom-card, a.custom-card:hover {
  color: #212529;
  text-decoration: none;
}

.card_box {
	background-color: white;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
}

.checked {
  color: orange;
}